* .App {
  align-items: center;
}
.outer-container {
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 30px;
  margin-top: 8%;
  margin-left: 25%;
  margin-right: 25%;
}
.unos {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.divKriz {
  float: left;
  flex: 1;
  align-items: center;
  text-align: center;
}

.button {
  border: 1px solid #999;
  line-height: 34px;
  height: 34px;

  padding: 0;

  width: 34px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
